.recipes {
}

.no_recipes_container {
    padding: 10px;
}

.item-enter {
    opacity: 0;
    transform: scale(0);
}

.item-enter-active, .item-enter-done, .item-exit {
    opacity: 1;
    transform: scale(1);
}

.item-exit-active {
    opacity: 0;
    transform: scale(1) translateY(50px);
}

.recipes_item_with_tag {
    padding: 10px;
    text-align: right;
    direction: rtl;
}

.recipe_tag_value {
    border-right: 0.5px solid #ffc10780;
    margin-top: 20px;
    padding:20px;
    background: #80808012;
}